"*":
  core:
    autoHideMenuBar: true
    projectHome: "/home/sfrancisco/Projects/"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "9f2605ec-3f31-8eaf-3a94-cad98f5bb2e8"
  welcome:
    showOnStartup: false
